.menu_category {
  height: calc(100vh - 130px - env(safe-area-inset-bottom));
  background-color: #fff;
}
.flex_btn {
  position: fixed;
  bottom: 200px;
  right: 50px;
  width: 200px;
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1000;
}
.nut-tabs .nut-tabs__titles.scrollable {
  position: fixed;
  top: 40px;
  left: 0;
}
.nut-tabs {
  padding-bottom: calc(130px + env(safe-area-inset-bottom));
  padding-top: 40px;
}
.nut-card {
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.nut-card__left {
  border-radius: 12px !important;
  overflow: hidden;
}
.nut-tab-pane {
  padding: 0;
  padding-bottom: 90px;
}

.waterfall-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.waterfall-column {
  flex: 1;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.waterfall-item {
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.waterfall-image {
  width: 100%;
  display: block;
}

.waterfall-text {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
