.f-card {
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px; /* 卡片之间的垂直间距 */
  display: inline-block;
  width: 100%; /* 确保卡片占据整列宽度 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.f-card-content {
  grid-row-end: span 1; /* 基准行高的倍数 */
}

.f-img {
  width: 100%;
  display: block;
}
