page {
  background: linear-gradient(to bottom, rgb(255, 240, 255), rgba(255, 204, 255, 0)) no-repeat;
  padding-bottom: calc(env(safe-area-inset-bottom) + 130px);
}

.nut-popup {
  bottom: calc(env(safe-area-inset-bottom) + 100px) !important;
}
